@layer theme, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-wedding-primary: #B99493;
  --color-wedding-bg: #EFEAE4;
  --color-wedding-text: #434343;
  --color-wedding-muted: #a3a3a3;
  --font-kr: "Noto Sans KR", sans-serif;
  --font-sacramento: "Sacramento", serif;
}
